body {
  background-image: url('https://github.com/EnigmaticLantern/EngimaticLantern.github.io/blob/7f4f1d378af743b67b8f6f7e1194367015fd3f14/image.jpg');
  background-size: cover;
  background-position: center;
}
